NAVOIY_CHECKPOINT=./navoiy-tts/emotion_600h_joint.pt
COSYVOICE_DIR=./CosyVoice
BASE_MODEL_DIR=./CosyVoice/pretrained_models/CosyVoice2-0.5B

REFERENCE_AUDIO=./voices/asal_reference.wav

HOST=0.0.0.0
PORT=8000
